DATABASE_URL=Supabase Database URL

DIRECT_URL=Direct Connection URL

FROM_EMAIL=Email Address to send emails from
RESEND_API_KEY=Resend API Key

AWS_BUCKET_NAME=Name of the AWS S3 bucket
AWS_BUCKET_REGION=Region of the AWS S3 bucket

AWS_ACCESS_KEY=Your AWS Access Key
AWS_SECRET_ACCESS_KEY=Your AWS Secret Access Key

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=Your Stripe publishable key
STRIPE_SECRET_KEY=Your Stripe secret key
STRIPE_WEBHOOK_SECRET=Your Strip Webhook secret key